@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-slab: "Bree Serif", serif;
  --font-techno: "Quantico", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}
